/* body {
    background:white;
  } */
  
  #wrapper {
    width: 500px;
    /* position: relative; */
    margin: 0 auto;
  }
  
  #login, #register {
    /* position: absolute; */
    top: 0;
    width: 88%;
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: white;
   
    box-shadow: 0pt 2px 5px rgba(136, 198, 218, 0.7), 0px 0px 8px 5px rgba(154, 214, 226, 0.4) inset;
    border-radius: 5px;
  }
  
  /* #login {
    z-index: 22;
  }
   */
  /***** Text Styles *****/
  #wrapper h1 {
    font-size: 48;
    color:#52565b;
    padding: 2px 0 10px 0;
    font-family: 'Questrial','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
  
  /* #wrapper h1 {
    Webkit only
    background: -webkit-repeating-linear-gradient(-45deg, #12535d, #12535d 20px, #406f76 20px, #406f76 40px, #12535d 40px);
   
    -webkit-background-clip: text;
  } */
  
  /* #wrapper h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, #93b8bd 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
  } */
  
  /***** Input Styles *****/
  /* Placeholder */
  ::-webkit-input-placeholder {
    color: #bebcbc;
    font-style: italic;
  }
  
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #bebcbc;
    font-style: italic;
  }
  
  input {
    outline: none;
  }
  
  #wrapper input:not([type="checkbox"]) {
    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    border: 1px solid #b2b2b2;
    box-sizing: content-box;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    transition: all 0.2s linear;
  }
  
  #wrapper input:not([type="checkbox"]):active,
  #wrapper input:not([type="checkbox"]):focus {
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
  }
  
  /***** Submit button styles *****/
  #wrapper p.button input {
    width: 30%;
    cursor: pointer;
    background: #06bbcc;
    padding: 8px 5px;
    color: #fff;
    font-family: 'Questrial';
    font-size: 18px;
    letter-spacing: 2px;
    border: 1px solid #06bbcc;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    
    transition: all 0.2s linear;
  }
  #wrapper p.button input:hover {
    background: #0084c188;
  }
  #wrapper p.button input:active, #wrapper p.button input:focus {
    background: #0084c188;
    position: relative;
    top: 1px;
    border: 1px solid #0084c188;
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
  }
  
  p.login.button,
  p.signin.button {
    text-align: right;
    margin: 5px 0;
  }
  
  /***** Checkboxes *****/
  .keeplogin {
    margin-top: -5px;
  }
  
  .keeplogin input,
  .keeplogin label {
    display: inline-block;
    font-size: 12px;
    font-style: italic;
  }
  
  .keeplogin input#loginkeeping {
    margin-right: 5px;
  }
  
  .keeplogin label {
    width: 80%;
  }
  
  /***** Stripped Bottom *****/
  p.change_link {
    position: absolute;
    color:black;
   
    height: 20px;
    width: 400px;
   
    font-size: 16px;
    text-align: right;
   
    border-radius: 0 0 5px 5px;
   
  }
  p.change_link a {
    display: inline-block;
    font-weight: bold;
    background: #52565b;
    padding: 2px 6px;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #cbd5d6;
    transition: all 0.4s  linear;
  }
  p.change_link a:hover {
    color: #0084c188;
    background: #f7f7f7;
    border: 1px solid #0084c188;
  }
  p.change_link a:active {
    position: relative;
    top: 1px;
  }
  
  /************************
  Hiding and animation
  *************************/
  /* #register {
    z-index: 21;
    opacity: 0;
  } */
  
  #toregister:target ~ #wrapper #register,
  #tologin:target ~ #wrapper #login {
    z-index: 22;
    animation-name: fadeInLeft;
    animation-delay: .1s;
  }
  
  .animate {
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  #toregister:target ~ #wrapper #login,
  #tologin:target ~ #wrapper #register {
    animation-name: fadeOutLeft;
  }
  
  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }
  .err{
    color: red;
  }